body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav {
  background-color: #212529;
}

#mainNav .navbar-brand {
  color: #fed136;
  font-weight: 400;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}



#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 10px; 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1
 {
  text-align: center;
  border-bottom: 5px solid #fed136;
  margin-bottom: 20px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#options {
	text-align: center;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #212529;
}

#jumbo{
  background: white;
  border: 2px solid #fed136;
  margin: 20px;
  position: relative;
}


.form-group{
  margin-bottom: 20px;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#backgroundimg{
  background-image: url("img/portfolio/02-profile.jpg");
  height: 300px; 
  width: 1030px;
}
#userpicture{
  border:  5px solid #fed136;
  padding: 5px;
  width: 300px;
  height: 300px;
}
#username{
  text-align: center;
  padding-top: 20px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: absolute;
  top: 25%;
  left: 30%;
}
h4{
  font-size: 30px;
  font-weight: 50;
}
